<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap Sample</title>
  </head>

  <body>
  <h1>TOP PAGE</h1>
  <form action="/search" method="get">
  Search: <input type="text" name="title">
  <input type="submit" value="Submit">
  </form>
  <h2><%= link_to 'Add new event', "lists/new" %></h2>
  
  <h3>Popular</h3>
  <div class="container">
  
  <section class="content-gallery scroll-bar">
    <% @events.each do |event| %>
    <section class="content-gallery-card">
      <div class="card text-right" style="padding: 10px; margin: 5px;">
        <div class="card-block">
          <h4 class="card-title"><%= event.title %></h4>
          <p class="card-text">W<%= event.what %><br>
          <%= event.where %><br>
          <%= event.when %><br>
          <%= event.name %><br></p>
          <%= link_to "Go somewhere", event_path(event), :class => "btn btn-primary", :style => "text-decoration: none;" %>
        </div>
      </div>
      </section>
  <% end %>

   

</section>

    

    
  </div>
  </body>
</html>
