<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<h1><%= @event.title %>
<%= link_to "Join", "show_detail_path(show_detail)" %></h1>
<p><%= simple_format @event.what %></p>


<table>
<tr>
<td>
<h2>ORGANIZERS</h2>
<p><%= @organizer.name %></p>
</td>
</tr>
<tr>
<td>
<h2>WHEN?</h2>
<p><%= @event.when %></p>
</td>
<td>
<h2>WHERE?</h2>
<p><%= simple_format @event.where %></p>
</td>
</tr>
</table>
<h2>ALL MEMBERS</h2>
<% @attendee.each do |a| %>
<li>
<p><%= simple_format a.name %></p>
</li>
<% end %>

<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.css"/>
<script type="text/javascript">
    var place = gon.place
  window.onload = function() {
    L.mapquest.key = 'UShjaMayAC4UkuBJ5nu5rqFuraxzEOQU';

    var map = L.mapquest.map('map', {
      center: [0, 0],
      layers: L.mapquest.tileLayer('map'),
      zoom: 14
    });

    L.mapquest.geocoding().geocode(place);
  }
    if (window.name != "test") {
        location.reload();
        window.name = "test";
    } else {
        window.name = "";
　   }
</script>
<div id="map" style="width: 80%; height: 530px;"></div>

<<<<<<< Updated upstream
<%= link_to "Join", controller: "detail", action: "join", event_id: @event.id %>
=======
>>>>>>> Stashed changes
