<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<h1><%= @event.title %></h1>
<p><%= simple_format @event.where %></p>
<p><%= simple_format @event.what %></p>

<% @attendee.each do |a| %>
<li>
<p><%= simple_format a.name %></p>
</li>
<% end %>
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.css"/>
<script type="text/javascript">
    var place = gon.doko
  window.onload = function() {
    L.mapquest.key = 'UShjaMayAC4UkuBJ5nu5rqFuraxzEOQU';

    var map = L.mapquest.map('map', {
      center: [0, 0],
      layers: L.mapquest.tileLayer('map'),
      zoom: 14
    });

    L.mapquest.geocoding().geocode(place);
  }
</script>
<div id="map" style="width: 100%; height: 530px;"></div>

<%= link_to "Join", "http://google.com" %>

