<head>
  <style>
    table td {
      padding: 30px;
      border: 1px solid rgb(20,24,24);
    }
    table td p {
      font-size: 2.0rem;

    }
    table td h2 {
      font-size: 3.8rem;
    }

  </style>
</head>

<h1><%= @event.title %>
<%= link_to "Join", "show_detail_path(show_detail)" %></h1>
<h2>ORGANIZERS</h2>
<p><%= @organizer.name %></p>
<table>
<tr>
<td>
<h2>WHAT?</h2>
<p><%= @event.what %></p>
</td>
<td>
<h2>WHEN?</h2>
<p><%= @event.when %></p>
</td>
<td>
<h2>WHERE?</h2>
<p><%= simple_format @event.where %></p>
</td>
</tr>
</table>
<h2>ALL MEMBERS</h2>
<% @attendee.each do |a| %>
<li>
<p><%= simple_format a.name %></p>
</li>
<% end %>

<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.css"/>
<script type="text/javascript">
    var place = gon.place
  window.onload = function() {
    L.mapquest.key = 'UShjaMayAC4UkuBJ5nu5rqFuraxzEOQU';

    var map = L.mapquest.map('map', {
      center: [0, 0],
      layers: L.mapquest.tileLayer('map'),
      zoom: 14
    });

    L.mapquest.geocoding().geocode(place);
  }
    if (window.name != "test") {
        location.reload();
        window.name = "test";
    } else {
        window.name = "";
　   }
</script>
<div id="map" style="width: 80%; height: 530px;"></div>

